<div class="container" style="background-color: #fff; margin-top: 35px; width: 30%; height: auto; padding: 30px;">
  <div class="box-status">

    <div class="box-status-all-item">
      <div class="row">
        <div class="col-4">
          <div class="box-status-item-active">
            <i class="fa fa-shopping-cart"></i>
          </div>
        </div>

        <div class="col-4">
          <div class="box-status-item-active">
            <i class="fa fa-credit-card"></i>
          </div>
        </div>

        <div class="col-4">
          <div class="box-status-item">
            <i class="fa fa-check"></i>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="container" style="background-color: #fff; margin-top: 35px;">
  <div id="panel-cart" class="pb-3">
    <div class="the-title-box mt-5 ml-3">
      <h4>
        Hóa Đơn
      </h4>
      <img src="../../../assets/img/hinh-anh-trang-chu/logo-leaf.png" />
    </div>

    <form style="width: 65%; margin: auto;" [formGroup]="form" (ngSubmit)="submitForm()" novalidate class="form-horizontal was-validated">
      <div class="form-body">
        <div class="form-group row mb-4">

          <div class="col-12 mb-2">
            <span style="font-family: Merriweather; color: #3e8636c4;">
              Thông tin người nhận:
            </span>
          </div>

          <div class="col-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span style="font-weight: 700; border-color: #459f3bc4; background-color: #629b5c4a;" class="input-group-text">Tên Người Nhận:</span>
              </div>
              <input type="text" class="form-control is-invalid" required placeholder="Tên Người Nhận..." [ngModel]="orderRequest.FullName"
              value='' formControlName="fullName">
            </div>
          </div>

          <div class="col-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span style="font-weight: 700; border-color: #459f3bc4; background-color: #629b5c4a;" class="input-group-text">Số Điện Thoại:</span>
              </div>
              <input type="text" class="form-control is-invalid" required placeholder="Số Điện Thoại..." [ngModel]="orderRequest.Mobile"
              value='' formControlName="mobile">
            </div>
          </div>

          <div class="col-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <span style="font-weight: 700; border-color: #459f3bc4; background-color: #629b5c4a;" class="input-group-text">Địa Chỉ Nhận:</span>
              </div>
              <textarea type="text" class="form-control is-invalid" required placeholder="Địa Chỉ Nhận..." [ngModel]="orderRequest.Address"
              value='' formControlName="address"></textarea>
            </div>
          </div>

          <div class="col-12">
            <span style="font-style: italic; font-size: 15px; color: #7a7a7a;">
              Nhập đầy đủ thông tin nhận hàng để chúng tôi có thể giao hàng cho bạn một cách nhanh nhất.
            </span>
          </div>
        </div>

        <div class="form-group row mb-4">

          <div class="col-12 mb-2">
            <span style="font-family: Merriweather; color: #3e8636c4;">
              Lựa chọn phương thức thanh toán:
            </span>
          </div>

          <div class="col-12">
            <div class="input-group mb-3">
              <div class="input-group">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="cod" name="radioPayment" class="custom-control-input" checked value="cod" (change)="radioPayment($event)">
                  <label style="color: #000;" class="custom-control-label" for="cod">(Cod) Thanh Toán Khi Nhận Hàng.</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="input-group mb-3">
              <div class="input-group">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="momo" name="radioPayment" class="custom-control-input" value="momo" (change)="radioPayment($event)">
                  <label style="color: #000;" class="custom-control-label" for="momo">
                    <img style="width: 20px; height: 20px;" src="../../../assets/img/logo/logo-momo.jpg" />
                    Thanh Toán Từ Ví Điện Tử Momo.
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="input-group mb-3">
              <div class="input-group">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="zalo" name="radioPayment" class="custom-control-input" disabled>
                  <label style="cursor: not-allowed;" class="custom-control-label" for="zalo">
                    <img style="width: 40px; " src="../../../assets/img/logo/zalopay-logo.PNG" />
                    Thanh Toán Từ Ví Điện Tử ZaloPay.
                  </label>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="form-group row mb-4">

          <div class="col-12 mb-2">
            <span style="font-family: Merriweather; color: #3e8636c4;">
              Thông báo đơn hàng qua Email:
            </span>
          </div>

          <div class="col-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span style="font-weight: 700; border-color: #459f3bc4; background-color: #629b5c4a;" class="input-group-text">
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" id="checkboxEmail" name="checkboxEmail" class="custom-control-input" checked>
                    <label class="custom-control-label green" for="checkboxEmail">Lựa Chọn Nhận Thông Báo:</label>
                  </div>

                </span>
              </div>
              <input type="text" style="border-color: #459f3bc4;" class="form-control" placeholder="Email..." [ngModel]="email"
              value='' formControlName="email">
            </div>
          </div>

        </div>
      </div>
      <!-- <div class="form-actions">
                <div class="row">
                    <div class="offset-md-2 col-md-10">
                        <button type="submit" class="btn btn-primary m-r-20">
                            <i class="fa fa-save"></i>
                            Lưu
                        </button>
                        <a [routerLink]="['/order']" class="btn btn-default">Quay về </a>
                    </div>
                </div>
            </div> -->
    </form>
      <table id="tbl_cart" class="table table-bordered">
          <thead>
              <tr >
                  <th>#</th>
                  <th>Sản phẩm</th>
                  <th>Hình ảnh</th>
                  <th style="text-align:center">Số lượng</th>
                  <th>Giá tiền</th>
                  <th>Tổng cộng</th>
              </tr>
          </thead>
          <tbody id="cart_body">
              <tr *ngFor="let item of productData; let i = index">
                  <td style="width: 5%;">{{(i+1).toString().padStart(2, "0")}}</td>
                  <td>{{item.title}}</td>
                  <!-- <td><img class="img-fluid" style="width: 120px;" [src]="showImg(item.avatar)" /></td> -->
                  <td><img class="img-fluid" style="width: 120px;" [src]="item.avatar" /></td>
                  <td style="width: 12%;text-align:center">
                    {{selectCount(item.productID)}}
                  </td>
                  <td style="width: 15%;">{{item.price|currency:'VND':''}} VND</td>
                  <td style="width: 15%;">{{totalPrice(item.productID)|currency:'VND':''}} VND</td>
              </tr>
          </tbody>
          <tfoot>
              <tr>
                  <td colspan="2" style="text-align:left"><strong>Tạm tính:</strong></td>
                  <td colspan="5" style="text-align:center"> <strong> <span id="lbl_total">{{needPay()|currency:'VND':''}} VND</span> </strong></td>
              </tr>
              <tr>
                  <td colspan="2" style="text-align:left; font-style: italic"><strong>Phí ship <i style="color: rgb(15, 173, 26);" class="fa fa-truck"></i>:</strong></td>
                  <td colspan="5" style="text-align:center; color: #f20707; font-style: italic;"> <strong> <span id="lbl_total">{{25000|currency:'VND':''}} VND</span> </strong></td>
              </tr>
              <tr>
                <td colspan="2" style="text-align:left; font-style: italic">
                  <strong>Sử dụng điểm tích lũy:</strong>
                  <div class="custom-control custom-switch">
                    <input (click)="clickUsePoint()" type="checkbox" class="custom-control-input" id="checkBoxUsePoint">
                    <label style="color: #7a7a7a; font-style: italic;" class="custom-control-label" for="checkBoxUsePoint">Bạn có {{maxPoint}} điểm khả dụng</label>
                  </div>
                </td>

                <td colspan="5" style="text-align:center; font-style: italic;">
                  <input (keyup)="changePoint()" onlyNumber style="text-align: center;border-radius: 5px; border: 2px solid #f20707; color: green; font-weight: bold;" id="input_pointBox" type="text" [(ngModel)]='point' [disabled]="!checkUsePoint" placeholder="0">
                  <br>
                  <i style="color: #7a7a7a; font-style: italic;">VD: 1000 điểm = 1000 VND</i>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="text-aligne:left;font-style: italic;"><strong>Được giảm:</strong></td>
                <td colspan="5" style="text-align:center; color: blue;font-style: italic;"> <strong> <span>-{{bonus|currency:'VND':''}} VND</span> </strong></td>
              </tr>
              <tr>
                  <td colspan="2" style="text-aligne:left"><strong>Tổng tiền:</strong></td>
                  <td colspan="5" style="text-align:center"> <strong> <span id="lbl_total">{{needPayAll()|currency:'VND':''}} VND</span> </strong></td>
              </tr>
          </tfoot>
      </table>
      <!-- <a href="/@culture/Cart/Checkout" class="btn btn-success">Tiếp theo <i class="icon-arrow-right"></i></a> -->
      <!-- <button (click)="billDetail()" class="btn btn-success">Tiếp Tục Thanh Toán <i class="fa fa-arrow-right"></i></button> -->
      <button [disabled]="disabled" (click)="pay()" class="btn btn-success">Thanh Toán</button>
      <!-- <button (click)="showMomo($event)" class="btn btn-danger">Momo <i class="fa fa-money"></i></button> -->

  </div>
</div>
