<div class="container" style="background-color: #fff; margin-top: 35px;">
  <div id="panel-cart" class="pb-3">
    <div class="the-title-box mt-5 ml-3">
      <h4>
        Hóa Đơn
      </h4>
      <img src="../../../assets/img/hinh-anh-trang-chu/logo-leaf.png" />
    </div>
    <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate class="form-horizontal">
      <div class="form-body">
        <div class="form-group row">

          <div class="col-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span style="font-weight: 700; border-color: #459f3bc4; background-color: #629b5c4a;" class="input-group-text">Tên Người Nhận:</span>
              </div>
              <input type="text" style="border-color: #459f3bc4;" class="form-control" placeholder="Tên Người Nhận..." [ngModel]=""
              value='' formControlName="fullName">
            </div>
          </div>

          <div class="col-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span style="font-weight: 700; border-color: #459f3bc4; background-color: #629b5c4a;" class="input-group-text">SĐT:</span>
              </div>
              <input type="text" style="border-color: #459f3bc4;" class="form-control" placeholder="Số Điện Thoại..." [ngModel]=""
              value='' formControlName="mobile">
            </div>
          </div>

          <div class="col-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span style="font-weight: 700; border-color: #459f3bc4; background-color: #629b5c4a;" class="input-group-text">Địa Chỉ Nhận:</span>
              </div>
              <input type="text" style="border-color: #459f3bc4;" class="form-control" placeholder="Địa Chỉ Nhận..." [ngModel]=""
              value='' formControlName="address">
            </div>
          </div>

          <div class="col-12">
            <!-- <button type="submit" [disabled]="postOrderRequest.orderStatus == 1 && postOrderRequest.deliveStatus == 1 ? false : true" class="btn btn-info"><i class="fas fa-trash-alt"></i>Sửa</button> -->
          </div>
        </div>
      </div>
      <!-- <div class="form-actions">
                <div class="row">
                    <div class="offset-md-2 col-md-10">
                        <button type="submit" class="btn btn-primary m-r-20">
                            <i class="fa fa-save"></i>
                            Lưu
                        </button>
                        <a [routerLink]="['/order']" class="btn btn-default">Quay về </a>
                    </div>
                </div>
            </div> -->
    </form>
      <table id="tbl_cart" class="table table-bordered">
          <thead>
              <tr >
                  <th>#</th>
                  <th>Sản phẩm</th>
                  <th>Hình ảnh</th>
                  <th style="text-align:center">Số lượng</th>
                  <th>Giá tiền</th>
                  <th>Tổng cộng</th>
              </tr>
          </thead>
          <tbody id="cart_body">
              <tr *ngFor="let item of productData; let i = index">
                  <td style="width: 5%;">{{(i+1).toString().padStart(2, "0")}}</td>
                  <td>{{item.title}}</td>
                  <td><img class="img-fluid" style="width: 120px;" [src]="showImg(item.avatar)" /></td>
                  <td style="width: 12%;text-align:center">
                    {{selectCount(item.productID)}}
                  </td>
                  <td style="width: 15%;">{{item.price|currency:'VND':''}} VND</td>
                  <td style="width: 15%;">{{totalPrice(item.productID)|currency:'VND':''}} VND</td>
              </tr>
          </tbody>
          <tfoot>
              <tr>
                  <td colspan="2" style="text-align:left"><strong>Tạm tính =</strong></td>
                  <td colspan="5" style="text-align:center"> <strong> <span id="lbl_total">{{needPay()|currency:'VND':''}} VND</span> </strong></td>
              </tr>
          </tfoot>
      </table>
      <!-- <a href="/@culture/Cart/Checkout" class="btn btn-success">Tiếp theo <i class="icon-arrow-right"></i></a> -->
      <!-- <button (click)="billDetail()" class="btn btn-success">Tiếp Tục Thanh Toán <i class="fa fa-arrow-right"></i></button> -->
      <!-- <button [disabled]="disabled" (click)="buy()" class="btn btn-success">Tiếp Tục Thanh Toán <i class="fa fa-arrow-right"></i></button> -->
      <!-- <button (click)="showMomo($event)" class="btn btn-danger">Momo <i class="fa fa-money"></i></button> -->

  </div>
</div>
