<div class="container" style="background-color: #fff; margin-top: 55px; width: 32%; height: auto; padding: 40px 0;">
  <div class="w-75" style="margin: auto;">
    <div class="row w-75" style="margin: auto;">
      <div class="col-3">
        <input #authenticCode1 maxlength="1" class="form-control authenticCode" type="text"
        placeholder="-" required [readonly]="readonly_AuthenticCode1" [(ngModel)]="value_AuthenticCode1" (ngModelChange)="changeAuthenticCode($event, 1)">
      </div>

      <div class="col-3">
        <input #authenticCode2 maxlength="1" class="form-control authenticCode" type="text"
        placeholder="-" required [readonly]="readonly_AuthenticCode2" [(ngModel)]="value_AuthenticCode2" (ngModelChange)="changeAuthenticCode($event, 2)">
      </div>

      <div class="col-3">
        <input #authenticCode3 maxlength="1" class="form-control authenticCode" type="text"
        placeholder="-" required [readonly]="readonly_AuthenticCode3" [(ngModel)]="value_AuthenticCode3" (ngModelChange)="changeAuthenticCode($event, 3)">
      </div>

      <div class="col-3">
        <input #authenticCode4 maxlength="1" class="form-control authenticCode" type="text"
        placeholder="-" required [readonly]="readonly_AuthenticCode4" [(ngModel)]="value_AuthenticCode4" (ngModelChange)="changeAuthenticCode($event, 4)">
      </div>


      <div class="m-auto">
        <div *ngIf="showTime">
          <i>
            Mã xác thực sẽ hết hạn sau:
          </i>
          <span style="color: #378f97;">
            {{countTime}}
          </span>
        </div>
        <div *ngIf="showAuthenticating"><i style="color: rgb(108, 141, 44);">Đang xác thực... </i> <i class='fa fa-spinner fa-spin'style="color: rgb(108, 141, 44);"></i></div>
        <div class="d-flex">
          <button [disabled]="!disabledResendAuthenticCode" type="button" (click)="resendAuthenticCode()" class="resendAuthenticCode btn btn-warning mt-2 mr-auto ml-auto btn-sm">Gửi lại mã</button>
        </div>

      </div>

    </div>
  </div>

</div>
