<main style="margin-bottom: 0; background-color: #F8F6F3;">
  <div class="contact">
      <div class="contact-title">
          <div class="container text-center">
              <h1>Liên Hệ </h1>
          </div>
      </div>
      <div class="contact-body">
          <div class="contact-box container text-center">
              <div class="leaf-free">
                  <img width="150" src="../../assets/img/hinh-anh-trang-chu/leaf-free-img.png" />
              </div>
              <div class="row">
                  <div class="col-4">
                      <div class="contact-item">
                          <i class="fa fa-phone d-block"></i>
                          <span class="d-block">0123123123231</span>
                          <span class="d-block">011123123132</span>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="contact-item">
                          <i class="fa fa-envelope-o d-block"></i>
                          <span class="d-block">truongquochung204@gmail.com</span>
                          <span class="d-block">truongquochung204@gmail.com</span>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="contact-item">
                          <i class="fa fa-map-marker d-block"></i>
                          <span class="d-block">333 KP Bình Thuận, Thuận Giao, Thuận An, Bình Dương</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="contact-footer">
          <div class="background-leaf"></div>
          <div class="container">
              <h3>
                  Câu Hỏi Thường Gặp!
              </h3>
              <img src="../../assets/img/hinh-anh-trang-chu/logo-leaf.png" />
              <div class="question">
                  <div class=" row">
                      <div class="col-6">
                          <div class="question-item" id="btn-toggle1">
                              <span class="pull-left">Cần mua sản phẩm nhưng hết hàng?</span>
                              <i class="arrow1 pull-right fa fa-caret-down"></i>
                              <div class="clearfix"></div>
                              <p class="p1 hide">
                                  Liên hệ ngay đường dây nóng 0707700462 gặp chị P để được tư vấn tận tình hoặc để lại địa chỉ Email phía dưới để được cập nhật về thông tin sản phẩm sớm nhất. Xin cảm ơn!
                              </p>
                          </div>
                          <div class="question-item" id="btn-toggle3">
                              <span class="pull-left">Hàng được đặt khi nào tới tay khách?</span>
                              <i class="arrow3 pull-right fa fa-caret-down"></i>
                              <div class="clearfix"></div>
                              <p class="p3 hide">
                                  Tùy thuộc vào thời gian quý khách đặt hàng và bên giao hàng nhận hàng từ Shop, thường là 3 tới 5 ngày kể từ lúc đơn hàng được xác nhận. Xin cảm ơn!
                              </p>
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="question-item" id="btn-toggle2">
                              <span class="pull-left">Không đăng ký có mua hàng được không?</span>
                              <i class="arrow2 pull-right fa fa-caret-down"></i>
                              <div class="clearfix"></div>
                              <p class="p2 hide">
                                  Quý khách có thể click vào <a href="login.html">đây</a> để đăng ký và được giảm 25% cho lần mua hàng đầu tiên, khách hàng cần đăng ký để chúng tôi có thể xác minh thông tin cá nhân và địa chỉ để có thể giao sản phẩm đến tay quý khách. Xin cảm ơn!
                              </p>
                          </div>
                          <div class="question-item" id="btn-toggle4">
                              <span class="pull-left">Trở thành nhà cung cấp độc quyền cho Shop</span>
                              <i class="arrow4 pull-right fa fa-caret-down"></i>
                              <div class="clearfix"></div>
                              <p class="p4 hide">
                                  Nếu bạn có nguồn sản phẩm dồi dào? Nông sản của bạn đạt chất lượng quốc tế? Bạn muốn hợp tác để trở thành nhà cung cấp độc quyền cho <font color="#55A646">FreshFood Store</font> hãy liên hệ ngay với chúng tôi bằng hotline hoặc gửi mail cho chúng tôi để được tư vấn tận tình. Xin cảm ơn!
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
