<!-- start header -->
<div class="page-header navbar navbar-fixed-top">
  <div class="page-header-inner">
    <!-- logo start -->
    <div class="page-logo">
      <a href="index.html">
        <span class="logo-icon fa fa-stethoscope fa-rotate-45"></span>
        <span class="logo-default">ADMIN</span>
      </a>
    </div>
    <!-- logo end -->
    <ul class="nav navbar-nav navbar-left in">
      <li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
    </ul>
    <h4 class="pt-1 d-inline-block">Computing Admin Control Panel</h4>
    <!-- start mobile menu -->
    <a class="menu-toggler responsive-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
      <span></span>
    </a>
    <!-- end mobile menu -->
    <app-vc-admin-setting></app-vc-admin-setting>
  </div>
</div>
<!-- end header -->
