.box-status {
  width: 100%;
  height: 1px;
  border: 1px solid #8BC34A;
  position: relative;
}

.box-status-all-item {
  position: absolute;
  width: 400px;
  top: -20px;
}

.box-status-item-active {
  margin: auto;
  width: 40%;
  height: auto;
  padding: 10px;
  border-radius: 100%;
  background-color: #8BC34A;
  text-align: center;
  color: #E0E5D6;

}

.box-status-item {
  margin: auto;
  width: 40%;
  height: auto;
  padding: 10px;
  border-radius: 100%;
  background-color: #E0E5D6;
  text-align: center;
  color: #8BC34A;
  border: 1px solid #8BC34A;

}


.img-logo-check {
  width: 100px;
  margin: auto;
  margin-top: 20px;
}
