<div class="last" style="position: relative">
  <div class="background-leaf"></div>
  <div class="container">

      <div id="login-register" class="pt-4">
        <div style="margin: auto;" class="w-50 pb-4">
            <div class="content-login-register">
                <div id="p1" class="form-group input-login-register">
                  <div class="the-title-box">
                    <h4>
                        Quên Mật Khẩu
                    </h4>
                    <img src="../../../assets/img/hinh-anh-trang-chu/logo-leaf.png" />
                  </div>
                    <form [formGroup]="forgotPasswordForm"(ngSubmit)="onSubmit()" method="post">
                        <label class="control-label">
                            Email xác nhận
                        </label>
                        <input [readonly]="disabledButtonUpdate" formControlName="usernameControl" type="text" name="username"class="form-control forgotPasswordInput" placeholder="Nhập email xác nhận">
                        <label class="control-label">
                            Nhập mật khẩu mới
                        </label>
                        <input [readonly]="disabledButtonUpdate" formControlName="passwordControl" name="pass" class="form-control forgotPasswordInput" type="password" placeholder="Nhập mật khẩu mới">
                        <label class="control-label">
                          Nhập lại mật khẩu mới
                        </label>
                        <input [readonly]="disabledButtonUpdate" formControlName="repasswordControl" name="repass" class="form-control forgotPasswordInput" type="password" placeholder="Nhập lại mật khẩu mới">
                        <div class="clearfix"></div>
                        <div *ngIf="disabledButtonUpdate"><i style="color: rgb(108, 141, 44);">Đang gửi mã xác thực... </i> <i class='fa fa-spinner fa-spin'style="color: rgb(108, 141, 44);"></i></div>

                        <button [disabled]="disabledButtonUpdate" class="btn btn-info btn-block sendAuthenticCode" style="margin-top: 10px" tooltip="Gửi mã xác nhận vào Email xác nhận">Xác nhận đổi mật khẩu</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
