<div class="container">
  <div id="panel-cart">
      <table id="tbl_cart" class="table table-bordered">
          <thead>
              <tr >
                  <th>#</th>
                  <th>Tên Người Nhận</th>
                  <th>SĐT</th>
                  <th>Địa Chỉ</th>
                  <th>Số Lượng</th>
                  <th>Tổng Tiền</th>
                  <th>Trạng Thái</th>
                  <th>Chi Tiết Đơn Hàng</th>
              </tr>
          </thead>
          <tbody id="cart_body">
              <tr *ngFor="let item of order; let i = index">
                  <td>{{(i+1).toString().padStart(2, "0")}}</td>
                  <td>{{item.fullName}}</td>
                  <td>{{item.mobile}}</td>
                  <td>{{item.address}}</td>
                  <td>{{item.amount}}</td>
                  <td>{{item.total|currency:'VND':''}} VND</td>
                  <td>
                    <span *ngIf="item.orderStatus == 3" style="color: red;">
                      Đơn Hàng Đã Hủy
                    </span>

                    <span *ngIf="item.orderStatus != 3">
                      <span [style]="item.orderStatus == 1 ? 'color: darkgoldenrod;' : item.orderStatus == 2 ? 'color: green;' : 'color: red;'">
                        {{item.orderStatus == 1 ? "Đang Xử Lý" : item.orderStatus == 2 ? "Đã Hoàn Tất" : "Đã Hủy"}}
                      </span>-
                      <span [style]="item.deliveStatus == 1 ? 'color: darkgoldenrod;' : item.deliveStatus == 2 ? 'color: blue;' : item.deliveStatus == 3 ? 'color: green;' : 'color: red;'">
                        {{item.deliveStatus == 1 ? "Đang Đóng Gói" : item.deliveStatus == 2 ? "Đang Giao" : item.deliveStatus == 3 ? "Giao Hàng Thành Công" : "Đã Hủy"}}
                      </span>
                    </span>
                  </td>

                  <td>
                    <button (click)="showDetail($event,item.orderID)" class="btn btn-warning mr-2"><i class="fas fa-trash-alt"></i>Chi Tiết</button>
                    <button [disabled]="item.orderStatus == 1 && item.deliveStatus == 1 ? false : true" (click)="cancelOrder($event,item.orderID)" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Hủy Đơn</button>
                  </td>
              </tr>
          </tbody>
          <tfoot>
              <tr>
                  <!-- <td colspan="5" style="text-align:center"> <strong> <span id="lbl_total">{{needPay()|currency:'VND':''}} VND</span> </strong></td> -->
              </tr>
          </tfoot>
      </table>
      <!-- <a href="/@culture/Cart/Checkout" class="btn btn-success">Tiếp theo <i class="icon-arrow-right"></i></a> -->
      <!-- <button [disabled]="disabled" (click)="buy()" class="btn btn-success">Thanh Toán <i class="icon-arrow-right"></i></button> -->
  </div>
</div>
