<body style="background-color: #fff">
    <div class="page-wrapper">
      <app-vc-header></app-vc-header>
      <div class="page-container">
        <!-- <app-vc-navigation></app-vc-navigation> -->
        <div class="page-content-wrapper">
          <div class="page-content">
            <!-- <app-vc-breadcrumb></app-vc-breadcrumb> -->
            <div>
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
      <!-- <app-vc-footer></app-vc-footer> -->
    </div>
  </body>
  