<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body ">
          <div class="table-scrollable">
            <!-- Filter -->
            <div class="row p-4">
              <div class="col-md-3">
                <div class="btn-group mb-2">
                  <a href="#" (click)="addProduct($event)"  class="btn btn-info">
                    Add New <i class="fa fa-plus"></i>
                  </a>
                </div>
              </div>
              <div class="col-md-9">
                <div class="dataTables_filter mb-2">
                  <label class="w-100">
                    <input type="search" class="form-control form-control-sm"
                           placeholder="Search..." aria-controls="example4"
                           [(ngModel)]="keywords"
                           (keyup.enter)="searchProduct($event)">
                  </label>
                </div>
              </div>
            </div>

            <!-- Content -->
            <table class="table table-hover table-checkable order-column full-width">
              <thead>
                <tr>
                  <th class="center">STT</th>
                  <th class="center">Avatar</th>
                  <th class="center">ID</th>
                  <th class="center">Title</th>
                  <th>Description</th>
                  <th class="center">Price</th>
                  <th class="center">CreateTime</th>
                  <th class="center">Status</th>
                  <th class="center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd gradeX" *ngFor="let product of products; let i = index">
                  <td class="center">{{(i+1).toString().padStart(2, "0")}}</td>
                  <td class="patient-img">
                    <!-- <button type="button" (click)="getImageFromService()">Get Image</button> -->
                    <!-- <img  src="{{imageToShow}}" alt=""> -->

                    <img src="{{product.avatar}}" alt="">
                    <!-- <img  src="{{product.avatar}}" alt=""> -->
                    <!-- <img src="/API/{{product.avatar}}" alt=""> -->
                  </td>
                  <td class="center">{{product.productID}}</td>
                  <td class="center">{{product.title}}</td>
                  <td>{{product.description}}</td>
                  <td class="center">{{product.price|currency:'VND':''}} VND</td>
                  <td class="center">{{product.createTime  | date: 'dd/MM/yyyy'}}</td>
                  <td class="center">
                    <label class="switchToggle">
                      <input type="checkbox" [checked]="product.status">
                      <span class="slider aqua round"></span>
                    </label>
                  </td>
                  <td class="center">
                    <a href="#"
                       (click)="editProduct($event, product)"
                       class="btn btn-primary btn-xs">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                    <a href="#"
                       (click)="deleteProduct($event, product.productID)"
                       class="btn btn-danger btn-xs">
                      <i class="fa fa-trash-o "></i> Delete
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- Pagging -->
            <div class="pagging text-center">
              <div>
                <div class="dataTables_info" id="example4_info" role="status" aria-live="polite">Showing 1 to 10 of 18 entries</div>
              </div>
              <div>
                <div class="dataTables_paginate paging_simple_numbers" id="example4_paginate">
                  <ul class="pagination justify-content-center">
                    <li class="paginate_button page-item previous disabled" id="example4_previous"><a href="#" aria-controls="example4" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                    <li class="paginate_button page-item active"><a href="#" aria-controls="example4" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="example4" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                    <li class="paginate_button page-item next" id="example4_next"><a href="#" aria-controls="example4" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
